.evolution {
  position: relative;
  margin-top: -600px;
  padding-top: 515px;
  padding-bottom: 20px;
  z-index: 0;
  background: url('img/evolution.jpg') top center no-repeat;
  background-size: cover;
  overflow: hidden;
  @media (max-width: 1200px) {
    padding-bottom: 0;
  }
  @media (max-width: 767px) {
    padding-top: 620px;
  }
  &__wrapper {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    @media (max-width:1200px){
      flex-direction: column;
      margin-bottom: 180px;
    }
    @media (max-width:1000px){
      margin-bottom: 100px;
    }
    @media (max-width: 600px) {
      margin-bottom: 40px;
    }
  }
  &__main {
    max-width: 400px;
    @media (max-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 100%
    }
    @media (max-width: 900px) {
      align-content: space-between;
    }
    @media (max-width: 450px) {
      padding-left: 30px;
      justify-content: flex-start;
    }
  }
  &__main-mobile {
    @media (max-width: 1200px) {
      max-width: 400px;
    }
    @media (max-width: 900px) {
      max-width: 380px;
    }
  }
  &__four {
    position: relative;
    margin-bottom: 10px;
    width: 333px;
    height: 333px;
    border: 1px solid rgba(#fff, 0.23);
    border-radius: 50%;
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
    @media (max-width: 840px) {
      width: 280px;
    }
    &.zoomIn {
      animation: 0.5s ease zoomIn;
      opacity: 1;
      transform: scale3d(1,1,1);
    }
    &:before {
      content: '';
      position: absolute;
      left: calc(50% - 145px);
      top: calc(50% - 154px);
      width: 270px;
      height: 288px;
      background: url('img/4.png') center center no-repeat;
      background-size: cover;
      @media (max-width: 575px) {
        width: 210px;
        height: 225px;
        left: calc(50% - 125px);
        top: calc(50% - 124px);
      }
    }
  }
  &__main-heading {
    margin-bottom: 20px;
    font-size: 78px;
    font-style: italic;
    text-transform: uppercase;
    color: #fff;
    font-family: RussoOne, sans-serif;
    @media (max-width: 767px) {
      font-size: calc(48px + (100vw - 320px)*28/448);
    }
  }
  &__main-postlog {
    margin-bottom: 45px;
    max-width: 360px;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #7c8c9b;
    line-height: 1.8;
  }
  &__main-text {
    position: relative;
    padding-left: 100px;
    max-width: 380px;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #667480;
    line-height: 1.9;
    @media(max-width: 1200px) {
      margin-top: 60px;
      max-width: calc(100% - 100px);
    }
    @media (max-width: 767px) {
      padding-left: calc(40px + (100vw - 320px)*60/448);
    }
    @media (max-width: 700px) {
      margin-top: 25px;
    }
    @media (max-width: 450px) {
      max-width: 100%;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      width: 65px;
      height: 2px;
      background-color: #ff0000;
      @media (max-width: 767px) {
        width: calc(30px + (100vw - 320px)*35/448);
      }
    }
  }
  &__side {
    position: relative;
    width: 650px;
    padding-top: 25px;
    @media (max-width: 1200px) {
      width: 100%;
    }
    @media (max-width: 600px) {
      padding-top: calc(250px + (100vw - 320px)*50/280);
    }
  }
  &__prelog {
    display: block;
    margin-bottom: 22px;
    @media (max-width: 1200px) {
      margin-top: 50px;
      margin-left: calc(380px + (100vw - 768px)*150/460);
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
  &__heading {
    margin-bottom: 32px;
    font-family: 'Muller', sans-serif;
    font-weight: 300;
    @media (max-width: 1200px) {
      margin-left: calc(380px + (100vw - 768px)*150/460);
    }
    @media (max-width: 600px) {
      margin-left: 15px;
    }
  }
  &__desc {
    max-width: 380px;
    color: #7c8c9b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.9;
    @media (max-width: 1200px) {
      margin-left: calc(380px + (100vw - 768px)*150/460);
    }
    @media (max-width: 600px) {
      margin-left: 15px;
    }
  }
  &__image {
    position: absolute;
    bottom: -250px;
    right: -150px;
    transform: translate(100%, 100%);
    @media (max-width: 1200px) {
      right: auto;
      left: 0;
      bottom: auto;
      top: 0;
      width: calc(400px + (100vw - 768px)*100/400);
    }
    @media (max-width: 600px) {
      left: 50%;
      transform: translateX(-50%)!important;
    }
    &.slideInRightBottom {
      animation: slideInRightBottom 1s ease;
      transform: translate(-60px, 0);
    }
  }
  &__last {
    position: relative;
    padding-left: 304px;
    width: 540px;
    color: #dc1a1a;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.5px;
    font-style: italic;
    @media (max-width: 1200px) {
      padding-left: 0;
      margin: 0 auto;
      width: 320px;
      text-align: center;
      padding-top: 80px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 236px;
      background: url('img/icons/aerodynamics.svg') center center no-repeat;
      background-size: cover;
      width: 49px;
      height: 39px;
      transform: rotate(-90deg);
      @media (max-width: 1200px) {
        left: calc(50% - 25px);
        top: 0;
      }
    }
  }
}