.features {
  position: relative;
  margin-top: -140px;
  padding-top: 280px;
  background: url('img/spec-bg.png') top center no-repeat;
  background-size: cover;
  padding-bottom: 940px;
  overflow: hidden;
}
.noise {
  display: flex;
  justify-content: space-between;
  &__img-wrapper {
    position: relative;
    width: 560px;
    padding-top: 885px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  &__img {
    position: absolute;
    top: 0;
    left: -80px;
    transform: translateX(-100%);
    opacity: 0;
    &.animated {
      animation: slideInLeft 0.75s ease;
      transform: translateX(0);
      opacity: 1;
    }
  }
  &Text {
    position: absolute;
    top: 660px;
    left: 35px;
    transform: translateY(100%);
    opacity: 0;
    &.animated {
      animation: slideInUp 0.5s ease;
      transform: translateY(0);
      opacity: 1;
    }
  }
  &__img-text {
    font-family: RussoOne, sans-serif;
    font-size: 78px;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
  }
  &__text {
    padding-top: 350px;
    width: 640px;
    padding-right: 80px;
  }
  &__prelog {
    display: block;
    margin-bottom: 35px;
  }
  &__heading {
    margin-bottom: 45px;
    font-weight: 300;
    font-family: Muller, sans-serif;
  }
  &__desc {
    margin-bottom: 75px;
    color: #7c8c9b;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.9;
  }
  &__icon {
    position: relative;
    width: 250px;
    margin-left: 170px;
    color: #dc1a1a;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.9;
    font-style: italic;
    &:before {
      content: '';
      position: absolute;
      top: 15px;
      left: -95px;
      width: 73px;
      height: 37px;
      background: url('img/icons/pouch.svg') center center no-repeat;
      background-size: cover;
      transform: rotate(90deg)
    }
  }
}

.sizes {
  position: relative;
  padding-top: 440px;
  text-align: center;
  &__prelog {
    margin-bottom: 40px;
    font-size: 48px;
  }
  &__heading {
    margin-bottom: 40px;
    font-weight: 400;
  }
  &__desc {
    margin: 0 auto;
    width: 500px;
    color: #7c8c9b;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.9;
  }
  &__buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__wrapper {
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
  }
  &__hint {
    margin-bottom: 30px;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.9;
    color: #eeeeee;
  }
  &__buttons {
    margin-bottom: 60px;
    display: flex;
    width: 600px;
    justify-content: space-between;
    flex-wrap: wrap;
    opacity: 0;
    &.animated {
      opacity: 1;
      animation: slideInUp 0.9s ease;
    }
  }
  &__button {
    position: relative;
    margin-bottom: 30px;
    width: 175px;
    height: 60px;
    background-color: #101214;
    font-size: 18px;
    color: #7c8c9b;
    letter-spacing: 0.5px;
    cursor: pointer;
    border: 0;
    border-bottom: 3px solid #dc1a1a;
    transform: skewX(-20deg);
    span {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      transform: skewX(20deg);
    }
  }
  &__price {
    margin-bottom: 25px;
    font-size: 30px;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: #fff;
    text-align: left;
  }
  &__img {
    position: relative;
    margin-right: -40px;
    width: 577px;
    height: 577px;
    border-radius: 50%;
    border: 1px solid rgba(#fff, 0.13);
    opacity: 0;
    &.animated {
      animation: zoomIn 0.9s ease;
      opacity: 1;
    }
  }
  &__helmet {
    position: absolute;
    right: -80px;
    top: -115px;
  }
}