.header {
  width: 100%;
  height: 1177px;
  background: url('img/header-bg.jpg') center center no-repeat;
  background-size: cover;
  &__logo-wrapper {
    display: flex;
    height: 142px;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    width: 209px;
    height: 35px;
    background: url('img/icons/logo_white.svg') center center no-repeat;
    background-size: cover;
  }
  &__wrapper {
    display: flex;
  }
  &__text {
    padding-top: 55px;
    padding-left: 6px;
    width: 480px;
  }

  &__prelog {
    display: inline-block;
    margin-bottom: 22px;
  }

  &__heading {
    margin-bottom: 45px;
  }
  
  &__desc {
    margin-bottom: 85px;
    max-width: 380px;
    padding-left: 5px;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.6px;
    font-weight: 300;
    color: #7c8c9b;
  }
  &__image {
    position: relative;
    width: calc(100% - 480px);
  }

  &__helmet {
    position: absolute;
    right: -136px;
    top: -141px;
    width: 878px;
    height: 946px;
    background: url('img/header-helmet.png') center center no-repeat;
    background-size: cover;
  }

  &__customize {
    position: absolute;
    top: 60px;
    right: 5px;
    width: 113px;
    height: 113px;
    background-color: #dc1a1a;
    border-radius: 50%;
    border: 0;
    color: #fff;
    font-size: 11px;
    line-height: 160px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
      &:after {
        animation: spray 0.5s ease 1
      }
      &:before {
        transform: rotate(360deg)
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: -16px;
      left: -16px;
      width: 145px;
      height: 145px;
      background: url('img/customize-circle.png') center center no-repeat;
      background-size: cover;
      transition: transform 1.5s ease-in-out;
    }
    &:after {
      content: '';
      position: absolute;
      top: 16px;
      left: calc(50% - 14px);
      width: 25px;
      height: 48px;
      background: url('img/icons/spray.svg') center center no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }
}

@keyframes spray {
  0% {
    transform: rotate(0)
  }
  25% {
    transform: rotate(-20deg)
  }
  50% {
    transform: rotate(15deg)
  }
  75% {
    transform: rotate(-20deg)
  }
  100% {
    transform: rotate(0deg)
  }
}