* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
}

@font-face {
  font-family: 'RussoOne';
  src: url('fonts/RussoOne-Regular.woff') format('woff'),
  url('fonts/RussoOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KaushanScript';
  src: url('fonts/KaushanScript-Regular.woff') format('woff'),
  url('fonts/KaushanScript-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('fonts/MullerLight.woff') format('woff'),
  url('fonts/MullerLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('fonts/MullerRegular.woff') format('woff'),
  url('fonts/MullerRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('fonts/MullerBold.woff') format('woff'),
  url('fonts/MullerBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #101214;
  font-family: "Muller", sans-serif;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 1280px;
}

h1 {
  font-family: RussoOne, sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  font-style: italic;
  font-weight: 300;
}

h2 {
  font-family: RussoOne, sans-serif;
  font-size: 48px;
  color: #fff;
  font-style: italic;
}

.prelog {
  color: #dc1a1a;
  font-family: KaushanScript, serif;
  font-size: 36px;
  font-style: italic;
}

.button {
  position: relative;
  margin-left: 30px;
  height: 57px;
  width: 223px;
  border: 4px solid #dc1a1a;
  transform: skewX(-22deg);
  background-color: transparent;
  color: #fff;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-size 0.15s;
  &:hover {
    background-color: #dc1a1a;
    &:after {
      opacity: 1;
      animation: buttonAfter 0.2s ease
    }
  }
  & > span {
    display: block;
    font-weight: 700;
    transform: skewX(22deg);
  }
  &:before {
    content: '';
    position: absolute;
    left: -24px;
    top: -4px;
    height: 57px;
    width: 2px;
    background-color: #fff;
  }
  &:after {
    content: '';
    position: absolute;
    left: -4px;
    top: 0;
    height: 100%;
    background-color: #fff;
    opacity: 0;
  }
}
@keyframes buttonAfter {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}