.nav {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 480px;
  height: 100vh;
  padding: 83px 0 0 81px;
  background-color: #101214;
  transform: translateX(-480px);
  transition: transform 0.3s;
  transition-timing-function: ease;
  &_active {
    transform: translateX(0);
  }
  &:before {
    content: '';
    position: absolute;
    top: 170px;
    right: -15px;
    width: 481px;
    height: 395px;
    background: url('img/icons/logo_bg-menu.svg') center center no-repeat;
    background-size: cover;
    opacity: 0.5;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 72px;
    background-color: #dc1a1a;
  }

  &__link {
    position: relative;
    margin-bottom: 10px;
    padding-top: 5px;
    display: block;
    padding-bottom: 6px;
    color: #eeeeee;
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 0.7px;
    &:first-of-type {
      padding-top: 0;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #dc1a1a;
      transition: width 0.3s ease;
    }
    &:hover:after {
      width: 137px;
    }
  }

  &__close {
    position: absolute;
    top: 22px;
    right: 26px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    height: 37px;
    width: 37px;
    transform: rotate(-45deg);
    cursor: pointer;
    opacity: 0.8;
    transition: background-color 0.2s;
    &:hover {
      background-color: rgba(#fff, 0.26);
    }
    &:after {
      content: '';
      position: absolute;
      left: 10px;
      top: 18px;
      width: 17px;
      height: 1px;
      background-color: #fff;
      opacity: 0.8;
    }
    &:before {
      content: '';
      position: absolute;
      left: 10px;
      top: 18px;
      width: 17px;
      height: 1px;
      background-color: #fff;
      opacity: 0.8;
      transform: rotate(90deg)
    }
  }
}

.nav-button {
  position: fixed;
  z-index: 9;
  left: 80px;
  top: 50px;
  width: 42px;
  height: 80px;
  cursor: pointer;
  &:hover {
    .nav-button__icon-side:before {
      animation: burger-icon-side_1 linear infinite 0.4s;
    }
    .nav-button__icon-side:after {
      animation: burger-icon-side_2 linear infinite 0.4s;
    }
    .nav-button__icon-center:before {
      animation: burger-icon-center_1 linear infinite 0.4s;
    }
    .nav-button__icon-center:after {
      animation: burger-icon-center_2 linear infinite 0.4s;
    }
    .pseudo-helper {
      animation: burger-icon-center_3 linear infinite 0.4s;
    }
  }

  &__text {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    font-weight: 300px;
    letter-spacing: 1.4px;
    color: #5c6772;
  }

  &__icon-side {
    position: absolute;
    width: 28px;
    height: 5px;
    transform: rotate(-45deg);
    overflow: hidden;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
    }
    &:after {
      transform: translate(-100%, 10%)
    }
    &_top {
      top: 14px;
      left: 0;
    }
    &_bottom {
      top: 28px;
      right: 0;
    }
  }

  &__icon-center {
    position: absolute;
    top: 21px;
    left: -7.5px;
    width: 56px;
    height: 5px;
    transform: rotate(-45deg);
    overflow: hidden;
    &:before, &:after, .pseudo-helper {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: #fff;
    }
    .pseudo-helper {
      transform: translate(115%, 10%)
    }
    &:before {
      transform: translate(115%, 10%)
    }
    &:after {
      transform: translate(-15%, 10%)
    }
  }
}

@keyframes burger-icon-side_1 {
  from {
    transform: translate(0, 0)
  }
  to {
    transform: translate(-140%, 10%)
  }
}

@keyframes burger-icon-side_2 {
  from {
    transform: translate(140%, 10%)
  }
  to {
    transform: translate(0, 0)
  }
}

@keyframes burger-icon-center_1 {
  from {
    transform: translate(115%, 10%)
  }
  to {
    transform: translate(-15%, 10%)
  }
}

@keyframes burger-icon-center_2 {
  from {
    transform: translate(-15%, 10%)
  }
  to {
    transform: translate(-145%, 10%)
  }
}

@keyframes burger-icon-center_3 {
  from {
    transform: translate(245%, 10%)
  }
  to {
    transform: translate(115%, 10%)
  }
}