.question {
  position: relative;
  margin-top: -850px;
  padding-bottom: 800px;
  background: transparent url('img/question-bg.png') center center no-repeat;
  background-size: cover;
  text-align: center;
  @media (max-width: 767px) {
    padding-bottom: 450px;
  }
  &__top-helmet {
    position: absolute;
    top: -270px;
    right: -140px;
    opacity: 0;
    @media (max-width: 1600px) {
      right: -80px
    }
    @media (max-width: 1450px) {
      width: 700px;
      right: 0;
    }
    @media (max-width: 1150px) {
      top: -50px;
      width: 550px;
      right: 0;
    }
    @media (max-width: 950px) {
      top: 0;
      width: 400px;
    }
    @media (max-width: 767px) {
      margin-top: -580px;
      right: 50%;
      transform: translateX(50%);
    }
    @media (max-width: 500px) {
      width: 350px;
    }
    @media (max-width: 400px) {
      width: 280px;
    }
    &.animated {
      opacity: 1;
      animation: slideInUp 0.9s ease;
    }
  }
  &__helmet {
    margin-bottom: 110px;
    position: relative;
    margin-top: 850px;
    display: inline-block;
    width: 627px;
    height: 627px;
    border-radius: 50%;
    background-color: #dc1a1a;
    opacity: 0;
    @media (max-width: 1000px) {
      margin-top: 650px;
      width: 70vw;
      height: 70vw;
    }
    @media (max-width: 500px) {
      margin-top: 450px;  
    }
    &.animated {
      opacity: 1;
      animation: zoomIn 0.9s ease;
    }
    &:after {
      content: '';
      position: absolute;
      left: -21%;
      top: -10%;
      background: url('img/question-helmet.png') center center no-repeat;
      background-size: cover;
      width: 140%;
      height: 140%;
    }
  }
  &__specs {
    margin-bottom: 175px;
  }
  &__list-heading {
    margin-bottom: 30px;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
  }
  &__list {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 300;
    color: #c3c3c3;
    line-height: 2;
  }
  &__prelog {
    margin-bottom: 20px;
  }
  &__heading {
    margin-bottom: 75px;
    font-family: RussoOne, sans-serif;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    @media (max-width: 767px) {
      font-size: 35px;
      margin-bottom: 55px;
    }
  }
  &__form-wrapper {
    position: relative;
    display: flex;
    @media (max-width: 600px) {
      flex-direction: column;
    }
    &_first {
      margin-bottom: 110px;
      @media (max-width: 600px) {
        margin-bottom: 40px;
      }
    }
    &_second {
      margin-bottom: 135px;
      @media (max-width: 600px) {
        margin-bottom: 40px;
      }
    }
  }
  &__input-wrapper {
    position: relative;
    flex-grow: 1;
    &:nth-of-type(1) {
      margin-right: 85px;
      @media (max-width: 600px) {
        margin-right: 0;
        margin-bottom: 40px;
      }
    }
  }
  &__input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 0;
    color: #eee;
    font-weight: 300;
    font-size: 16px;
    font-family: Muller, sans-serif;
    &::placeholder {
      color: #eeeeee;
      font-weight: 300;
      font-size: 16px;
      letter-spacing: 0.5px;
    }
    &:focus+span {
      height: 11px;
    }
  }
  &__input-border {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      height: 4px;
      background-color: #dc1a1a;
      transition: height 0.2s ease;
  }
  &__textarea {
    width: 100%;
    background-color: transparent;
    border: 0;
    font-weight: 300;
    color: #eee;
    font-family: Muller, sans-serif;
    letter-spacing: 0.6px;
    &:focus+span {
      height: 11px;
    }
    &::placeholder {
      color: #eee;
      letter-spacing: 0.7px;
    }
  }
  &__button-wrapper {
    display: flex;
    justify-content: center;
  }
}